.btn.color-custom {
  color: white;
  border-color: #04A33A; 
  background-color: #04A33A;
  font-family: 'Inter', sans-serif;
}
.btn.color-custom:hover,
.btn.color-custom:focus {
  background-color: #03582F;
  border-color: #03582F;
}
.w-100.m-auto.font-custom-div {
  font-family: 'Inter', sans-serif;
}
.font-custom {
  color: #04A33A;
  font-family: 'Inter', sans-serif;
}
